body{
    background:transparent url('../images/interface-3614766.png') no-repeat;
}

.background{
    background: rgba(23, 45, 99, 0.6);
    border-radius: 20px;
}
.c1{
    margin-top:200px;
}
.shadow{
    box-shadow: 0px 1px 1px #00ffd9;
}