#tabSkills{
    top:0;
    background-color: #091539;
}
#letableau, #tabSkills {
    padding: 5px;
    text-align: center;
    border: solid 3px #000000;
    position:fixed;
    width:100%;
    color:white;
    z-index:1000;
}

#letableau{
    background-color: whitesmoke;
    padding: 50px;
    display: none;
    top:38px;

}