<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Fortunato Flavia{% endblock %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	{% block stylesheets %}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/app.css') }}">
	{% endblock %}
</head>
<body>
	<nav>
	    <div class="nav-wrapper">
	    	<div class="container">
	    		<a href="{{ path('homepage') }}" class="brand-logo"><img src="/uploads/logowhite.png"</a>
				<img src="logowhite.png" alt=""/>
			      	<ul id="nav-mobile" class="right hide-on-med-and-down">
			        <li><a href="{{ path('homepage') }}">Portfolio</a></li>
					 <li><a href="{{ path('register') }}">S'enregistrer</a></li>
			        {% if app.user %}
			        	{% if is_granted('ROLE_ADMIN') %}
							<li><a href="/admin">Modifier</a></li>
						{% endif %}
						<li><a href="/logout">Deconnexion</a></li>
					{% else %}
						<li><a href="/login">Login</a></li>
			        {% endif %}
		      	</ul>
	    	</div>
	    </div>
  	</nav>

  	{% block content %}

  	{% endblock %}


	{% block scripts %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

		<script type="text/javascript">
			$('select').formSelect();
		</script>
	{% endblock %}

    <footer class="fixed-bottom">
      <p>Site web 2021 @Fortunato Flavia</p>
    </footer>

  </body>
</html>
</footer>
</body>
</html>