#tabSkills{
    top:0;
    background-color: black;
}
#letableau, #tabSkills {
    padding: 5px;
    text-align: center;
    border: solid 1px #c3c3c3;
    position:fixed;
    width:100%;
    color:white;
    z-index:1000;
}

#letableau{
    background-color: white;
    padding: 50px;
    display: none;
    top:38px;
}