{% extends 'base.html.twig'%}

{% block title 'LL VOYAGES'%} 

{% block body %}
<div class ="jumbotron text-center">
<h1>Agence de Voyages LL VOYAGES</h1>

<p> Paragraphe Paragraphe Paragraphe Paragraphe Paragraphe Paragraphe Paragraphe Paragraphe </p>
</div>
<div class="container">
</div>
{% endblock %}