

/*---Navbar*/
.navbar
{
  background-color: black;
  color: white;
  font-family:sans-serif;
  opacity: 5;
}
.a.nav-link
{
color:red;

}

/*--- Barre de menu --- */


/*--- Footer--- */

.footer 
{
  background:black;
  color:white;
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  padding: 15px 0;
  box-shadow: 100px 5px 10px #845495;
  z-index: 4; 
}

