{% extends 'base.html.twig' %}

{% block title %}Fantastic Journeys{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/index.css') }}">
{% endblock %}

{% block content %}
    <div class="snowfall" id="snowfall">
		<div class="info bg-dark opacity-4 px-5">
			<h1>Fantastic Journeys</h1>
			<p>Le monde comme vous ne l'avez jamais vu.</p>
            <a class="text-white clickable" href="{{path('discover')}}"><button type="button" class="btn btn-primary">Découvrir</button></a>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('scripts/neige.js') }}"></script>
{% endblock %}
