body{
    background:rgb(180,198,240) url('../images/interface-3614766.png') no-repeat;
    margin:0px;
}

.background{
    background: rgba(23, 45, 99, 0.6);
    border-radius: 20px;
}

.background2{
    background: rgba(23, 45, 99, 0.6);
}

.c1{
    margin-top:40px;
}
.shadow{
    box-shadow: 0px 1px 1px #00ffd9;
}
.moving-div{
    position: relative;
}