#tabSkills{
    top:65px;
    background-color: rgba(23, 45, 99, 0.6);
}
#letableau, #tabSkills {
    padding: 5px;
    text-align: center;
    position:fixed;
    width:100%;
    color:white;
    z-index:100;
}

#letableau{
    background-color: whitesmoke;
    padding: 50px;
    display: none;
    top:100px;

}