h1{
    text-align: center;
    text-decoration: underline;
    color:rgb(82, 132, 224);
}
form{
    text-align: center;
    padding-top: 50px;
    font-size: large;
    
}
body{
    background-image: url(disque_vinyle.jpg);
    background-size: cover;
}
label{
    color:rgb(82, 132, 224);
}
.div_form{
display:flex;
flex-direction: column;
margin-left: auto;
margin-right: auto;
align-items: center;
}

input{
    width: 25%;

}