/* Lien police 'Architects Daughter' */
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

html, body, #gameContainer {
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
}

body {
    font-family: 'Architects Daughter', cursive;
    color: white;
    background-color: black;
    margin: 0 0;
}

/* Loading screen */

#loadingContainer {
    z-index: 10000000000000;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    user-select: none;
}

#loadingText {
    text-align: center;
    font-size: 6vh;
}

#loadingGif {
    display: block;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    min-width: 15%;
    max-width: 15%;
}

/* CSS couleurs icones */

.fa-dollar-sign, .fa-check-circle {
    color: green;
}

.fa-save {
    color: cornflowerblue;
}

.fa-eraser {
    color: firebrick;
}

#gameContainer {
    position: relative;
}

#soundSettings {
    flex-direction: column;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

#soundSettings button {
    margin: 1vh 3vw 1vh 0;
    
}

#musicsSettings, #effectsSettings {
    display: flex;
    flex-direction: row;
    padding: 2vh 1vw;
}

#infos {
    position: fixed;
    top: 0%;
    text-align: center;
    margin-top: 5vh;
    z-index: 1000000;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    word-break: break-word;
    background-color: rgba(0, 0, 0, 0.5);
}

#score, #record, #cash {
    margin: 0 auto;
    font-size: 2.5vh;
    padding: 0.2% 0.5%;
}

/* CSS Boutons */

button {
    outline: none;
    color: black;
    background-color: white;
    border: 2px solid black;
    cursor: pointer;
    padding: 5px;
    font-family: inherit;
}

#gameButtons button, #gameButtonsResponsive button, #titleScreen button, #restartButton, #mainMenuButton {
    display: inline-block;
    position: relative;
    padding: 0.25em 1em;
    text-decoration: none;
    font-weight: bold;
    background-color: black;
    color: white;
    user-select: none;
    border-radius: 30px;
    border: 2px solid white;
}

#categories button {
    border: none;
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 0 30px;
    font-size: 19px;
    height: 6vh;
    line-height: 40px!;
    vertical-align: middle;
    background: #51587b;
    font-size: 20px;
    color: grey;
    transition: 0.4s ease !important;
    -webkit-transition: 0.4s ease !important;
    -moz-transition: 0.4s ease !important;
    -o-transition: 0.4s ease !important;
}

#shopButton, #shopButtonResponsive, #optionsButton, #optionsButtonResponsive {
    z-index: 100000000000;
    position: fixed;
    bottom: 0.5%;
    width: auto;
}

#shopButton, #shopButtonResponsive {
    left: 1%;
    margin-left: 2.5% !important;
}

#optionsButtonResponsive, #optionsButton {
    right: 1%;
    margin-right: 2.5% !important;
}

#shopButtonResponsive, #optionsButtonResponsive {
    display: none;
}

#shopButton, #shopButtonResponsive, #optionsButton, #optionsButtonResponsive {
    margin: 0 0.3vw;
    font-size: 2.5vh;
    border: 2px solid white;
    border-radius: 25px;
    color: white;
    background-color: black;
}

.item button {
    width: fit-content;
    margin: 0 auto;
    font-size: 2.5vh;
}

.itemButtonWithEffect:hover, #shopButton:hover, #optionsButton:hover, #shopButtonResponsive:hover, #optionsButtonResponsive:hover, #startButton:hover, #restartButton:hover, #mainMenuButton:hover{
    background-color: rgb(255, 116, 0) !important;
    color: white !important;
    border: 2px solid white !important;
    -webkit-transition: background-color 0.4s ease-out !important;
    -moz-transition: background-color 0.4s ease-out !important;
    -o-transition: background-color 0.4s ease-out !important;
    transition: background-color 0.4s ease-out !important;
}

#shop, #options, #jeu {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    position: absolute;
    user-select: none;
}

#jeu {
    -webkit-box-shadow: 0px 0px 3vh 2vh rgba(0,0,0,0.8);
    box-shadow: 0px 0px 3vh 2vh rgba(0,0,0,0.8);
}

#shop, #options {
    z-index: 1000000;
    display: none;
    overflow: auto;
    text-align: center;

}

#shop {
    background: url('assets/shop.jpg');
    background-size: 100% 100%;
}

#options {
    flex-direction: column;
    background: rgb(81, 88, 123);
    background: -moz-radial-gradient(circle, rgb(81, 88, 123) 0%, rgba(0,0,0,1) 75%);
    background: -webkit-radial-gradient(circle,rgb(81, 88, 123) 0%, rgba(0,0,0,1) 75%);
    background: radial-gradient(circle, rgb(81, 88, 123) 0%, rgba(0,0,0,1) 75%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#51587b",endColorstr="#000000",GradientType=1);
}

#optionsTitle {
    margin-left: auto;
    margin-right: auto;
}

#dataOptions {
    display: flex;
    flex-direction: column;
    margin: auto;
}

#options button {
    font-size: 2.5vh;
}

#shopTitle, #optionsTitle {
    background-color: black;
    padding: 1vh 3vw;
    color: darkgoldenrod;
    font-size: 5vh;
    border-radius: 50%;
    margin-top: 2%;
    display: block;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

#shop span, #optionsTitle, #infos {
    user-select: none;
}

#shopCross {
    position: fixed;
    right: 13%;
    width: 5vh;
    max-width: 5vh;
    min-width: 5vh;
}

#categories {
    -webkit-box-shadow: 0px 0px 15px 10px rgba(0,0,0,0.8);
    box-shadow: 0px 0px 15px 10px rgba(0,0,0,0.8);
    margin: 2% 0;
    background-color: black;
    width: 100%;
    padding: 1% 0;
}

#categories button {
    margin: 0 2vw;
    min-width: 20%;
    font-size: 2.5vh;
}

.shopRaquettes, .shopBalles, .shopTerrains{
    display: none;
    flex-direction: row;
    width: 75%;
    margin: 0 auto;
}

.item {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: auto;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5vh;
}

.item img {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    position: relative;
    margin-bottom: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.item span {
    display: block;
    margin-bottom: 0.5rem;
}

.item .defaultspan {
    visibility: hidden;
}

.lastItemAlone {
    width: 50%;
}

.lastItemAlone img {
    width: 100%;
    min-width: 100%;
}

.shopTerrains .item {
    width: 30%;
    max-width: 30%;
}

#titleScreen, #gameOver {
    position: relative;
}

#raquette, #balle {
    position: absolute;
}

#titleScreen {
    top: 25%;
    text-align: center;
    word-break: break-word;
    background: rgba(0,0,0,0.5);
    padding: 5% 0;
}

#titleScreen h1 {
    font-size: 6vh;
}

#startButton, #gameOver, #restartButton, #mainMenuButton {
    font-size: 3vh;
}

#raquette {
    max-width: 7%;
    width: 7%;
    min-width: 7%;
}

#balle {
    max-width: 4%;
    width: 4%;
    min-width: 4%;
}

#gameOver {
    top: 29%;
    background: rgba(0,0,0,0.5);
    text-align: center;
    padding: 2% 0;
    display: flex;
    flex-direction: column;
}

.gameOverText {
    display: block;
    margin: 1% 0;
}

#restartButton {
    margin-top: 1%;
}

#restartButton, #mainMenuButton {
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
}

/* Message erreur */
#errorMessageContainer {
    display: block;
    position: absolute;
    margin: 0 10vw;
    position: fixed;
    top: 14%;
    background-color: #A62323;
    color: white;
    text-align: center;
    padding: 5vh 0;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Scrollbar personnalisée du Shop */

#shop::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

#shop::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

#shop::-webkit-scrollbar-thumb {
    background: #4d4d4d;
    border: 1px solid #ff7b00;
    border-radius: 50px;
}

#shop::-webkit-scrollbar-thumb:hover {
    background: #4d4d4d;
}

#shop::-webkit-scrollbar-thumb:active {
    background: #4d4d4d;
}

#shop::-webkit-scrollbar-track {
    background: #000000;
    border: 0px solid #4d4d4d;
    border-radius: 0px;
}

#shop::-webkit-scrollbar-track:hover {
    background: #000000;
}

#shop::-webkit-scrollbar-track:active {
    background: #000000;
}

#shop::-webkit-scrollbar-corner {
    background: transparent;
}

/* Forçage du responsive sur la div des catégories du shop */
@media screen and (max-width: 700px) {
    .shopRaquettes, .shopBalles, .shopTerrains {
        flex-direction: column;
    }
}

@media screen and (max-width: 485px) {
    #categories {
        display: flex;
        flex-direction: column;
    }
    
    #categories button {
        margin: 2vh;
    }
}

@media screen and (max-width: 425px) {

    #shopButton, #optionsButton {
        display: none;
    }

    #shopButtonResponsive, #optionsButtonResponsive {
        display: block;
    }
}

@media screen and (max-width: 330px) {
    #infos {
        flex-direction: column;
        width: 100%;
        top: 0%;
    }

    #score, #record, #cash {
        width: 100%;
    }
}


@media screen and (max-width: 275px) {
    .item {
        width: 30%;
    }
}
