input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    text-align: center;
  }
  

  
  .login-box{
    border-radius: 5px;
    background-color: #313137 ;
    padding: 20px;
    text-align: center;
    margin-top: 20vh;
    margin-right: auto;
    margin-left: auto;
   
   
  }
  body {
    background: url(img/bg.jpg) no-repeat;
    background-size: cover;
  
  }